@charset "UTF-8";

.home-title {
	background-image:url("../img/flight.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height:40vh;
}



.home-text {
	position: relative;
	top: 25vh;
	text-align: left;
	padding-left: 5%;
}

.alldest {
	height: 100%;
	background-color: #4b4b4d;
	margin: 0;
	padding-bottom: 5%;
}


.alldest-title {
	position: relative;
	padding: 5%;
}

.create-btn {
	margin-left: 5%;
}